h1 {
    text-align: center;
  }
  
  .container {
    width: 250px;
    /* margin-left: 42.5% */
    margin:auto;
    margin-top:50px
    
  }
  
  
  .grid td {
    width: 20px;
    height: 12px;
    padding: 5px 3px;
    border: 2px solid rgb(0, 58, 105);
    text-align: center;
    /* float: left; */
    margin: 5px;
    font-size: 10px
  }
  
  .grid td:hover {
    opacity: .7;
    cursor: pointer;
  }
  
  .reserved {
    background: rgb(1, 73, 133);
    color: #fff;
    display: inline-block;
  }
  
  .reserved::after {
    content: ''
  }
  
  .available::after {
    content: ''
  }
  
  .available {
    color: #333;
  }
  
  li {
    list-style: none;
  }